.Body_Background {
    background-image: url("Images_Bg.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
    color:white;
    font-size: 40px;
    font-family: 'Pacifico';
}

#My_Canvas {
    background-color: white;
    border-style: ridge;
}

span  {
    font-size: 20px;
}